.App{
  display: flex;
  align-items: center;
  justify-content: center;
  height:90vh;
  width:100%;
  flex-direction: column;
  background-color: aqua;
}

.task{
 display: flex;
 align-items: center;
 justify-content: center;
 margin: 0.4rem 0;
 margin-left: 1rem;
 padding:5px 9px;
 border: none;
 border-radius: 6px;
 padding:5px 8px;
 background-color: rgb(231, 226, 220);


}
.task button{

  color: red;
  margin-left:1rem;

}

.taskremain{
  
  color:rgb(0, 0, 0);
  width:2rem;
  margin-bottom: 1rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
}
.taskremain>p{
  color:black;
}

.input{
  display: flex;
  align-items: center;
  justify-content: center;
  outline: none;
  border: none;
  border-radius: 6px;
  width:100%;
  margin: 2rem auto;
  padding: 6px 12px;
  

  
}